*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

body {
    background-color: black;
    height: 100vh;
}

main {
    background-color: #dfc3ef;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0rem;
  
}

.calculator_all {
    height: 80%;
    width: 20%;
    border-radius: 12px;
    display: grid;
    grid-template-rows: 4fr 7fr;
   
   


}

.display {
    background-color: #002b4a;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: right;
    
    
}

.display h1{
    color: #ffffff;
    font-size: 3rem;
    text-align: right;
    margin-top: 8rem;
    padding-right: 1rem;

}

.buttons {
    height: 100%;
    display: grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr ;
    background-color: #001e34;
    border-radius: 4px;
    
}

.div1 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
}


.div2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.div3 {
    background-color: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    
}

.div4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  
}

.div5 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 12px;

}
button {
    background-color: #001e34;
    color: #ffffff;
    font-size: larger;
    cursor: pointer;

}

#yes {
    color: #2baa3b;
}

#no {
    color: #8e82d8;
}

.div1 .ok {
    
    font-size:2rem;
}

button:hover {
    color: rgb(12, 12, 12);
    background-color: dimgrey;

}